---
---


<style>
.btn{
    margin-bottom:5px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:15px;
    padding-right:15px;
    height:20px
}

pre{
    white-space: pre-wrap;  
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap; 
    word-wrap: break-word; 
    width:100%; overflow-x:auto;
}
</style>

<div class="text-justify">
  {{ reference | replace: 'Shang, H.', '<b>Shang, H.</b>' | replace: 'Shang, Haitao', '<b>Shang, Haitao</b>' }}
</div>


<!-- You can use the below to make your name bold -->
<!-- {{reference | replace_first: 'Bryngelson, S. H.', '<b>Bryngelson, S. H.</b>' | replace_first: 'Bryngelson, S.', '<b>Bryngelson, S.</b>' }}</div> -->

{% assign bibtest = false %}
{% if entry.file %}
{% assign bibfile = "/papers/" | append: entry.file %}
{% for file in site.static_files %}
  {% if file.path contains bibfile %}
   {% assign bibtest = true %}
  {% endif %}
{% endfor %}
{% endif %}

<!-- {% if bibtest %}
<a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.file }}" target="_blank"><button class="btn btn-success btm-sm" style="background-color: #9e9f9e; border-color: #596159;">PDF</button></a>
{% endif %} -->

{% if entry.commentary %}
<button class="btn custom-btn btm-sm" onclick="toggleCommentary{{entry.key}}()"style="background-color: #d9534f; border-color: #d43f3a; color: white;">Featured Commentary
</button>
<div id="c{{entry.key}}" style="display: none; background-color:#EBEFF1; border-radius:5px; padding:15px; margin-top:10px; margin-bottom:20px;">
    <pre>{{entry.commentary}}</pre>
</div>
{% endif %}


{% if entry.editorpick %}
<button class="btn custom-btn btm-sm" onclick="toggleeditorpick{{entry.key}}()" style="background-color: #d9534f; border-color: #d43f3a; color: white;">Editor's Pick
</button>
<div id="b{{entry.key}}" style="display: none; background-color:#EBEFF1; border-radius:5px; padding:10px; margin-bottom:20px;">
    <pre>{{entry.editorpick}}</pre>
</div>
{% endif %}


{% if bibtest %}
<a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.file }}" target="_blank">
  <button class="btn custom-btn btm-sm" style="background-color: #007bff; border-color: #007bff; color: white;">PDF</button>
</a>
{% endif %}
{% if entry.doi %}
  {% if entry.doi contains 'http' %}
    <a href="{{ entry.doi }}" target="_blank"><button class="btn custom-btn btm-sm">DOI</button></a>
  {% else %}
    <a href="https://doi.org/{{ entry.doi }}" target="_blank"><button class="btn custom-btn btm-sm">DOI</button></a>
  {% endif %}
{% endif %}


{% if entry.abstract %}
<button class="btn custom-btn btm-sm"  onclick="toggleAbstract{{entry.key}}()">ABSTRACT</button>
{% endif %}


<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function toggleAbstract{{entry.key}}(parameter) {
    var x= document.getElementById('b{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function toggleCommentary{{entry.key}}(parameter) {
    var x = document.getElementById('c{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function toggleeditorpick{{entry.key}}(parameter) {
    var x= document.getElementById('b{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
